/* CSS declarations go here */

input {
	display:block;
	height:30px;
	font-size:20px;
	margin-top: 3px;
	margin-bottom: 3px;
}

button { font-size: 15px;}

h1{
	margin-bottom: 10px;
}

#loading{display:none;}

.container {
	display: table;
	width: 100%;
	margin-top:30px;
	padding-bottom:20px;
}

.connections{
	font-style: italic;
	display:block;
	height:10px;
}

.num-connections{
	display: inline-block;
}
.num-connections:before{
	content:' Akkurat nå ser det ut til at vi har ';
}

.num-connections:after{
	content:' besøkende.';
}


.input-name{display:block;width:175px;}
.input-msg{display:inline-block;width:600px;margin-bottom: 5px;}

.border-right {border-right:1px #ddd solid;}

.message{display:table-row;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 20px;}
.message .time{ display:table-cell; padding:10px; width:55px; padding-left:5px; color:gray; }
.message .name{ display:table-cell; padding:10px; color:gray;}
.message .text{ display:table-cell; padding:10px;}


div.message:nth-child(2n+1){background-color:#f2f2f2;}


@media screen and (max-width:700px) {
	.input-msg{width:90%;}
	p{width:90%;}
	.message{font-size: 18px;padding:10px;}

	.container{display:block;}
	.message{display:block;border-radius: 15px;}
	.message .time {display:inline-block;border-right:none;;width:30px;text-align:left;font-size: 14px;}
	.message .name {display:inline-block;width:45%;border-right:none;font-size: 14px;}
	.message .text {display:block;}
}